<div class="two-columns">
  <div class="wobble">
    <%= image_tag("sign-up.png") %>
  </div>
  <div class="slide-in-top">
    <div class="box devise-form">
      <div class="header">
        Sign up
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <div class="input-container">
            <%= f.email_field :email, autocomplete: "email", autofocus: true %>
            <% resource.errors.full_messages_for(:email).each do |message| %>
              <div class="error">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <p><%= @minimum_password_length %> characters minimum</p>
          <% end %>
          <div class="input-container">
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% resource.errors.full_messages_for(:password).each do |message| %>
              <div class="error">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <div class="input-container">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
              <div class="error">
                <%= message %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign up", class: 'button-blue' %>
        </div>
      <% end %>
      <div class="devise-link-container">
        <%= link_to "Log in", new_session_path(resource_name), class: 'gray-hover' %>
      </div>
    </div>
  </div>
</div>
