<div class="two-columns">
  <div>
    <%= image_tag("log-in.png") %>
  </div>
  <div>
    <div class="box devise-form">
      <div class="header">
        Log in
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <div class="actions">
          <%= f.submit "Log in", class: 'button-red' %>
        </div>
      <% end %>
      <div class="devise-link-container">
        <%= link_to "Sign up", new_registration_path(resource_name), class: 'gray-hover' %>
      </div>
    </div>
  </div>
</div>
