<div class="category-form">
  <%= form_with model: category do |form| %>
    <div>
      <%= form.label :name %>
      <div class="input-container">
        <%= form.text_field :name %>
        <% category.errors.full_messages_for(:name).each do |message| %>
          <div class="error">
            <%= message %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
