<div class="category-form-container">
  <%= link_to url_for(:back) do %>
    <div class="back-link white-hover">􀰪</div>
  <% end %>
  <div class="box category-form">
    <div class="header">
      <%= header %>
    </div>
    <%= form_with model: category do |form| %>
      <div>
        <%= form.label :name %>
        <div class="input-container">
          <%= form.text_field :name, autofocus: true %>
          <% category.errors.full_messages_for(:name).each do |message| %>
            <div class="error">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <div>
        <%= form.submit button_text %>
      </div>
    <% end %>
  </div>
</div>
