<div class="navbar">
  <div class="navbar-left">
    <div>
      <%= image_tag("logo.svg") %>
      <%= link_to 'Potion', root_path %>
    </div>
    <% if user_signed_in? %>
      <%= link_to 'All tasks', root_path, class: 'gray-hover' %>
      <%= link_to "Today's tasks", root_path, class: 'gray-hover' %>
    <% end %>
  </div>
  <div class="navbar-right">
    <% if user_signed_in? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'button-red' %>
    <% end %>
  </div>
</div>
