<div class="navbar">
  <div class="navbar-left">
    <div>
      <%= image_tag("logo.svg") %>
      <%= link_to 'Potion', root_path %>
    </div>
    <%= link_to 'All tasks', root_path, class: 'navlink' %>
    <%= link_to "Today's tasks", root_path, class: 'navlink' %>
  </div>
  <div class="navbar-right">
    <%= button_to "Log out", root_path %>
  </div>
</div>
