<div class="navbar">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <div>
        <%= image_tag("logo.svg") %>
        <span>Potion</span>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to 'All tasks', root_path, class: 'gray-hover' %>
      <%= link_to "Due today", today_path, class: 'gray-hover' %>
    <% end %>
  </div>
  <div class="navbar-right">
    <% if user_signed_in? %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'button-red' %>
    <% end %>
  </div>
</div>
