<div class="navbar">
  <div class="navbar-left">
    <%= image_tag("logo.svg") %>
    <%= link_to 'Potion', root_path %>
  </div>
  <div class="navbar-right">
    <%= link_to 'All tasks', root_path %>
    <%= link_to "Today's tasks", root_path %>
    <%= button_to "Log out", root_path %>
  </div>
</div>
